<div id="container-instructions">

    <h1>Instruction</h1>
    <hr>

    <div class="instructions well">

        <p>
        This concludes the training phase. We now move on to the main task. This is just as before, except that we do not give you feedback.
        As soon as you click on "bad" or "good", the next sentence-picture pair will appear.
        </p>

        <p>
        Please only do so when you have enough information to judge whether the sentence fits the picture.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row" style="text-align: center;">
          <button type="button" id="next" value="next" class="btn btn-success btn-lg continue intermediate">
            Begin experiment
          </button>
        </div>
    </div>
</div>
