<div id="container-exp">
    <div id="center">
      <p id="question">Is this sentence a good description of the picture?</p>
      <hr>
      <h2 id="target-sentence">LADIDA</h2>
      <img src="../static/conditions/x/0-0.png" alt="" />

      <hr>
      <table>
        <tr>
          <td><button class="btn btn-success" id="good">Good</button></td>
          <td><button class="btn btn-danger" id="bad">Bad</button></td>
          <td><button class="btn btn-primary" id="more-info">More Info</button></td>
        </tr>
      </table>
    </div>
</div>
