<div id="container-instructions">

    <h1>Instruction</h1>
    <hr>

    <div class="instructions well">

        <p>This is a study on the interpretation of logically complex sentences in natural language.
        Our goal is to find out how language is interpreted under uncertainty. This is important for many applications,
        such as to teach computers to use language in a natural way.
        </p>

        <p>
        You will be shown 6 sentence-picture pairs. The pictures are initially only partially visible, but you can can unravel the picture step by step.
        We ask you to determine whether the sentence fits the picture, as soon as you have enough information to do so.
        </p>

        <p>
        To get familiar with the task, we begin with 2 training rounds.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div style="text-align: center;">
              <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
                Next
              </button>
            </div>
        </div>
    </div>
</div>
