<div id="container-instructions">

    <h1>Instruction</h1>
    <hr>

    <div class="instructions well">

        <p>This is the training phase. You will see pictures of a central element, surrounded by geometrical shapes.
        A gray area hides possible connections of the central element to the geometric shapes.
        </p>

        <p>
        If you click on "more information" the gray area is removed stepwise, revealing whether there are connections or not.
        In the training phase we will tell you when you make a mistake. To proceed you need to click on the right button.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
          <div class="col-xs-2">
            <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
              Previous
            </button>
          </div>

          <div class="col-xs-8"></div>

          <div class="col-xs-2">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
              Begin training
            </button>
          </div>
        </div>
    </div>
</div>
